*.ckpt
snapshots/
output/
VOCdevkit/VOC2012/Annotations/
VOCdevkit/VOC2012/CSV_Annotations/
VOCdevkit/VOC2012/JPEGImages/
VOCdevkit/VOC2012/SegmentationClassAug/
VOCdevkit/VOC2012/SegmentationObject/
